.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ababab;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.options {
  margin-bottom: 20px;
}

.wrapper {
  position: relative;
  z-index: 1;
}

.editor :global .draft-textAlign-left .public-DraftStyleDefault-block {
  text-align: left;
}

.editor :global .draft-textAlign-center .public-DraftStyleDefault-block {
  text-align: center;
}

.editor :global .draft-textAlign-right .public-DraftStyleDefault-block {
  text-align: right;
}