.buttonWrapper {
  display: inline-block;
}

.button {
  background: slategray;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.button svg {
  fill: #fff;
}

.button:hover, .button:focus {
  background: #f3f3f3;
  outline: 0; /* reset for :focus */
}

.button:hover svg {
  fill: #888;
}

.active {
  background: #efefef;
  color: #444;
}

.active svg {
  fill: #444;
}
