/*
 * InlineButton
*/

.inline-button {
  background-color: transparent;
  border: 0;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}

.inline-button-active {
  background-color: #2f2f2f;
}

