/* Tooltip */
[data-tooltip] {
  position: relative;
  text-decoration: none;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 130%;
  left: 0%;
  background: #000000;
  padding: 5px 15px;
  color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: none;
}

[data-tooltip]:hover:after {
  bottom: 110%;
}

[data-tooltip]:hover:after, a:hover:before {
  opacity: 1;
}

/* Sidebar */
.draft-sidebar {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  width: 32px;
}

.draft-sidebar .item button {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.6);
  border-radius: 50px;
  font-size: 16px;
  color: rgba(0,0,0,.6);
  height: 32px;
  line-height: 31px;
  padding: 0 14px;
  font-size: 12px;
  width: 32px;
  height: 32px;
  padding: 0;
}

.draft-sidebar .item .menu {
  display: none
}

.draft-sidebar .item:hover .menu {
  display: block
}

/* Toolbar */
.toolbar {
  background-color: #000;
  border: none;
  border-radius: 50px;
  font-size: 16px;
}

.toolbar .toolbar-item {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #000;
}

.toolbar .toolbar-item:first-child {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding-left: 6px;
}

.toolbar .toolbar-item:last-child {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding-right: 6px;
}

.toolbar .toolbar-item button.toolbar-item-active {
  background-color: #2f2f2f;
}

.toolbar .toolbar-item:hover{
  background-color: #2f2f2f;
}

.toolbar .toolbar-item button {
  background-color: transparent;
  border: 0;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}
