{
  "parser": "babel-eslint",
  "plugins": ["mocha"],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "arrow-parens": ["error", "always"],
    "max-len": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "new-cap": 0,
    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "class-methods-use-this": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/extensions": 0,
    "jsx-a11y/img-has-alt": 0,
    "react/require-default-props": 0
  },
  "settings": {
    "import/core-modules": [
      "draft-js-alignment-plugin",
      "draft-js-alignment-plugin/lib/plugin.css",
      "draft-js-anchor-plugin",
      "draft-js-anchor-plugin/lib/plugin.css",
      "draft-js-buttons",
      "draft-js-buttons/lib/plugin.css",
      "draft-js-counter-plugin",
      "draft-js-counter-plugin/lib/plugin.css",
      "draft-js-plugins-utils",
      "draft-js-drag-n-drop-plugin",
      "draft-js-drag-n-drop-plugin/lib/plugin.css",
      "draft-js-drag-n-drop-upload-plugin",
      "draft-js-drag-n-drop-upload-plugin/utils/file",
      "draft-js-drag-n-drop-upload-plugin/lib/plugin.css",
      "draft-js-emoji-plugin",
      "draft-js-emoji-plugin/lib/plugin.css",
      "draft-js-focus-plugin",
      "draft-js-focus-plugin/lib/plugin.css",
      "draft-js-hashtag-plugin",
      "draft-js-hashtag-plugin/lib/plugin.css",
      "draft-js-image-plugin",
      "draft-js-image-plugin/lib/plugin.css",
      "draft-js-inline-toolbar-plugin",
      "draft-js-inline-toolbar-plugin/lib/plugin.css",
      "draft-js-linkify-plugin",
      "draft-js-linkify-plugin/lib/plugin.css",
      "draft-js-mention-plugin",
      "draft-js-mention-plugin/lib/plugin.css",
      "draft-js-plugins-editor",
      "draft-js-plugins-editor/lib/plugin.css",
      "draft-js-resizeable-plugin",
      "draft-js-resizeable-plugin/lib/plugin.css",
      "draft-js-side-toolbar-plugin",
      "draft-js-side-toolbar-plugin/lib/plugin.css",
      "draft-js-static-toolbar-plugin",
      "draft-js-static-toolbar-plugin/lib/plugin.css",
      "draft-js-sticker-plugin",
      "draft-js-sticker-plugin/lib/plugin.css",
      "draft-js-undo-plugin",
      "draft-js-undo-plugin/lib/plugin.css",
      "draft-js-video-plugin",
      "draft-js-video-plugin/lib/plugin.css",
      "draft-js-divider-plugin",
      "draft-js-divider-plugin/lib/plugin.css"
    ]
  }
}
