{
  "parser": "babel-eslint",
  "plugins": [ "mocha" ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "max-len": 0,
    "comma-dangle": 0,
    "new-cap": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0
  }
}
