**/node_modules/**
lib/**
draft-js-alignment-plugin/lib/**
draft-js-cleanup-empty-plugin/lib/**
draft-js-dnd-plugin/lib/**
draft-js-entity-props-plugin/lib/**
draft-js-focus-plugin/lib/**
draft-js-image-plugin/lib/**
draft-js-resizeable-plugin/lib/**
draft-js-table-plugin/lib/**
draft-js-air-toolbar-plugin/lib/**
draft-js-hashtag-plugin/lib/**
draft-js-linkify-plugin/lib/**
draft-js-mention-plugin/lib/**
draft-js-sticker-plugin/lib/**
draft-js-undo-plugin/lib/**
draft-js-plugins-editor/lib/**
draft-js-emoji-plugin/lib/**
draft-js-counter-plugin/lib/**
scripts/**
docs/public/**
