**/node_modules/**
lib/**
draft-js-hashtag-plugin/lib/**
draft-js-linkify-plugin/lib/**
draft-js-mention-plugin/lib/**
draft-js-sticker-plugin/lib/**
draft-js-undo-plugin/lib/**
draft-js-plugins-editor/lib/**
draft-js-emoji-plugin/lib/**
draft-js-counter-plugin/lib/**
scripts/**
docs/public/**
