.root {
  text-align: center;
  padding-top: 10em;
}

.param {
  margin: 10px 0;
}

.paramName {
  font-weight: bold;
  padding: 10px 0;
}

.subParams {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin-top: 10px;
  margin-left: 50px;
}

.subParam {
  margin-bottom: 5px;
  display: flex;
}

.subParamName {
  font-weight: bold;
  margin-right: 5px;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.listEntry {
  margin-top: 1rem;
}

.guideCodeBlock {
  margin-top: 1rem;
  margin-bottom: 1rem !important;
}
