.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F8FAFA;
  border-bottom: 1px solid #eee;
  line-height: 1.6;
}

.heart {
  color: rgb(200, 0, 0);
  font-size: 22px;
  position: relative;
  top: 3px;
}

.stripe {
  background-image: url(https://stripe.com/img/navigation/logo@2x.png?2);
  background-size: 100% 100%;
  width: 63px;
  height: 27px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.openSourceRetreat {
  font-size: 0.8rem;
}
