.editor {
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  /*Important to grow with floating children*/
  overflow: hidden;
}

@keyframes border-pulsate {
  0%   { outline-color: rgba(0, 255, 80, .5); }
  50% { outline-color: rgba(0, 255, 80, .01); }
  100%   { outline-color: rgba(0, 255, 80, .5); }
}

.uploading {
  outline: 2px solid rgba(0, 255, 80, .5);
  animation: border-pulsate 2s infinite;
}

.dnd {
  outline: 3px solid rgba(0, 255, 80, .5);
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.editorOptions {
  margin-bottom: 20px;
}
