.autocomplete {
  border: 1px solid #ddd;
  margin-top: 1.75em;
  min-width: 240px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 2;
}
