.autocompleteEntry {
  padding: 7px 10px 3px 10px;
  transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.autocompleteEntry:active {
  background-color: #cce7ff;
}

.autocompleteEntryFocused {
  composes: autocompleteEntry;
  background-color: #e6f3ff;
}

.autocompleteEntryText {
  display: inline-block;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 368px;
}

.autocompleteEntryAvatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
