html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

a, a:visited {
  color: #888;
  text-decoration: none;
}

a:hover {
  color: #aaa;
}

a:active {
  color: #444;
}

button:focus {
  outline: 0;
}
