.root {
  border: 1px solid #bbb;
  height: 40px;
  color: #888;
  border-radius: 20px;
  line-height: 1.2em;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  width: 40px;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0;
  top: 0;
  margin: 0;
  margin-right: 10px;
}

.root:focus {
  background-color: #eee;
  color: #999;
}

.root:hover {
  background-color: #eee;
  color: #999;
}

.root:active {
  background-color: #ddd;
  color: #777;
}

.root:disabled {
  background-color: #dfdfdf;
  color: #999;
}
