.emoji {
  /* Hide the original Emoji icon no matter what system it is. */
  color: transparent;
  /* make sure the background the image is only shown once */
  background-repeat: no-repeat;
  /* move it a bit further down to align it nicer with the text */
  vertical-align: middle;
}
