.emojiSelect {
  box-sizing: content-box;
}

.emojiSelectTitle {

}

.emojiSelectGroups {
  width: 23.5em;
  height: 22.5em;
}

.emojiSelectGroup {
  padding: 0 .5em;
  width: 22.5em;
}

.emojiSelectGroupTitle {
  padding-left: .5em;
  font-weight: normal;
  font-size: 1em;
  color: #9e9e9e;
}

.emojiSelectGroupList {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.emojiSelectGroupItem {
  width: 2.5em;
  height: 2.5em;
}

.emojiSelectGroupEntry {
  padding: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.emojiSelectGroupEntry:hover {
  background-color: #efefef;
}

.emojiSelectGroupEntryIcon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.emojiSelectTone {

}

.emojiSelectToneItem {

}

.emojiSelectToneEntry {

}

.emojiSelectNav {
  margin: 0;
  padding: 0 .5em;
  display: flex;
  width: 22.5em;
  list-style: none;
}

.emojiSelectNavItem {
  width: 2.5em;
  height: 2.5em;
}

.emojiSelectNavEntry,
.emojiSelectNavEntryActive {
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  color: #bdbdbd;
  background: none;
  border: none;
  outline: none;
}

.emojiSelectNavEntryActive {
  color: #42a5f5;
}
