.emojiSelect {
  $groups: 8;
  $itemSize: 2.5em;
  $totalSize: $itemSize * $groups;

  $borderColor: #e0e0e0;
  $backgroundColor: #fff;
  $hoverBackgroundColor: #efefef;

  padding: 0 .3em;
  position: absolute;
  box-sizing: content-box;
  background: $backgroundColor;
  border: 1px solid $borderColor;

  &Title {
    margin: 0 0 .3em;
    padding-left: 1em;
    height: 2.5em;
    line-height: 2.5em;
    font-weight: normal;
    font-size: 1em;
    color: #9e9e9e;
  }

  &Groups {
    margin: 0 0 .3em;
    padding: 0 .5em;
    position: relative;
    z-index: 0;
    width: $totalSize;
    height: $totalSize;
  }

  &Group {
    &Title {
      margin: 1em 0;
      padding-left: .5em;
      font-weight: normal;
      font-size: 1em;
      color: #9e9e9e;
    }

    &List {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      flex-wrap: wrap;
    }

    &Item {
      width: $itemSize;
      height: $itemSize;
    }

    &Entry {
      padding: 0;
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      outline: none;
      transition: background-color .4s cubic-bezier(.27, 1.27, .48, .56);

      &Focused {
        @extend .emojiSelectGroupEntry;
        background-color: $hoverBackgroundColor;
      }

      &Icon {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
      }
    }

    &:first-child {
      .emojiSelectGroupTitle {
        display: none;
      }
    }
  }

  &Tone {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    &List {
      margin: .3em;
      padding: .3em;
      position: absolute;
      display: flex;
      list-style: none;
      border: 1px solid $borderColor;
      border-radius: .5em;
      background: $backgroundColor;
      box-shadow: 0 0 .3em rgba(0, 0, 0, .1);
    }

    &Item {
      width: $itemSize;
      height: $itemSize;

      &:first-child {
        border-right: 1px solid $borderColor;
      }
    }

    &Entry {
      padding: 0;
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      outline: none;
      transition: background-color .4s cubic-bezier(.27, 1.27, .48, .56);

      &Focused {
        @extend .emojiSelectToneEntry;
        background-color: $hoverBackgroundColor;
      }

      &Icon {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
      }
    }
  }

  &Nav {
    margin: 0;
    padding: 0 .5em;
    display: flex;
    width: $totalSize;
    list-style: none;

    &Item {
      width: $itemSize;
      height: $itemSize;
    }

    &Entry,
    &EntryActive {
      padding: 0;
      width: 100%;
      height: 100%;
      font-size: 1.2em;
      color: #bdbdbd;
      background: none;
      border: none;
      outline: none;
    }

    &EntryActive {
      color: #42a5f5;
    }
  }
}
