.emojiSuggestionsEntry {
  padding: 5px;
}

.emojiSuggestionsEntry:active {
  background-color: #C8EAF7;
}

.emojiSuggestionsEntryFocused {
  composes: emojiSuggestionsEntry;
  background-color: #DEF0F7;
}

.emojiSuggestionsEntryText {
  display: inline-block;
  margin-left: 8px;
}

.emojiSuggestionsEntryIcon {
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  margin-right: 0.25em;
  display: inline-block;
  vertical-align: middle;
}
