.header {
  background: #fff;
  padding: 10rem 0 0 0;
  text-align: center;
}

.logo {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.logoText {
  color: #979797;
  font-size: 36px;
  font-weight: 200;
}

.tagline {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 3em;
}

.githubButton {
  width: 120px;
  height: 30px;
  margin-bottom: 2rem;
}

.plugins {
  list-style-type: none;
  padding-left: 0;
  margin-top: 8px;
  text-align: center;
}

.plugin {
  font-size: 1.2rem;
  display: inline-block;
  padding: 10px 24px;
  border-radius: 10px;
  color: #777;
  background: #fff;
  margin-right: 24px;
  margin-bottom: 18px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}

.center {
  text-align: center;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.containerWrapper {
  border-bottom: 1px solid #ddd;
  padding-bottom: 3rem;
}

.alternateContainerWrapper {
  border-bottom: 1px solid #ddd;
  padding-bottom: 3rem;
  background: #F8FAFA;
}

.footer {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 60px;
}

.heart {
  color: rgb(200, 0, 0);
  font-size: 22px;
  position: relative;
  top: 3px;
}
