.header {
  background: #fff;
  text-align: center;
}

@media (max-width: 480px) {
  .header {
    padding: 5rem 0 0 0;
  }
}

@media (min-width: 481px) {
  .header {
    padding: 8rem 0 0 0;
  }
}

.container {
  min-width: 300px;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.containerWrapper {
  border-bottom: 1px solid #ddd;
  padding-bottom: 3rem;
}

.alternateContainerWrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 3rem;
  background: #F8FAFA;
}

.logo {
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 263px;
  height: 209px;
}

.logoText {
  color: #979797;
  font-size: 36px;
  font-weight: 200;
}

.tagline {
  font-size: 18px;
  margin-top: 0.4em;
  margin-bottom: 3em;
}

.githubButton {
  width: 120px;
  height: 30px;
  margin-top: 2rem;
}

.pluginsWrapper {
  composes: containerWrapper;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
}

.plugins {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  position: relative;
}

.plugin {
  width: 16.66%;
  font-size: 0.9rem;
  display: inline-block;
  padding: 18px 14px;
  color: #777;
  margin-top: 1rem;
  border-right: 1px solid #eee;
}

.plugin:first-child {
  border-left: 1px solid #eee;
}

.center {
  text-align: center;
}

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F8FAFA;
}

.heart {
  color: rgb(200, 0, 0);
  font-size: 22px;
  position: relative;
  top: 3px;
}

.whyText {
  text-align: justify;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
