.header {
  background: #fff;
  text-align: center;
}

@media (max-width: 480px) {
  .header {
    padding: 5rem 0 0 0;
  }
}

@media (min-width: 481px) {
  .header {
    padding: 8rem 0 0 0;
  }
}

.container {
  min-width: 300px;
  max-width: 640px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wideContainer {
  composes: container;
  max-width: 800px;
}

.containerWrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 3rem;
}

.alternateContainerWrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 3rem;
  background: #F8FAFA;
}

.logo {
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 263px;
  height: 209px;
}

.logoText {
  color: #979797;
  font-size: 36px;
  font-weight: 200;
}

.tagline {
  font-size: 18px;
  margin-top: 0.4em;
  margin-bottom: 3em;
}

.githubButton {
  width: 120px;
  height: 30px;
  margin-top: 2rem;
}

.pluginsWrapper {
  composes: containerWrapper;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
}

.plugins {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  position: relative;
}

.plugin {
  font-size: 0.9rem;
  display: inline-block;
  color: #777;
  margin-top: 1rem;
  border-right: 1px solid #eee;
}

.plugin:first-child {
  border-left: 1px solid #eee;
}

@media (max-width: 480px) {
  .plugin {
    width: 33.33%;
  }

  .plugin:nth-child(4) {
    border-left: 1px solid #eee;
  }
}

@media (min-width: 481px) {
  .plugin {
    width: 16.66%;
  }
}

.center {
  text-align: center;
}

.whyText {
  text-align: justify;
  max-width: 488px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.link, .link:visited {
  color: #979797;
  text-decoration: none;
  display: block;
  padding: 18px 0px;
}

/* TODO colour links based on theme colours */
.link:hover, .link:focus {
  color: #9CB7C7;
}

.link:active {
  color: #7E96A5;
}
