/*
 * LinkButton
*/

.link-button {
  background-color: #000;
  border: none;
  border-radius: 50px;
  font-size: 16px;
}

.link-button-active {
  background-color: #2f2f2f;
}

.link-button button {
  background-color: transparent;
  border: 0;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none;
}

/*
 * Link
*/

.link, .link:visited {
  color: #5e93c5;
  text-decoration: none;
}

.link:hover, .link:focus {
  color: #7eadda;
  outline: 0; /* reset for :focus */
  cursor: pointer;
}

.link:active {
  color: #4a7bab;
}
