.selectSticker {
  border: 0;
  border-radius: 4px;
  background: #fff;
  margin: 0 auto;
}

.selectSticker:hover, .root:focus {
  background: #efefef;
  outline: 0; /* reset for :focus */
}

.selectSticker:active {
  background: #dfdfdf;
}

.selectStickerImage {
  height: 80px;
  width: 80px;
}
