.imageWrapper {
  height: auto;
  position: relative;
  display: block;
  width: 200px;
  margin: 0;
  z-index: 1;
}

.center {
  margin: 0px auto;
}

.left {
  float: left;
  margin-right: 10px;
}

.right {
  float: right;
  margin-left: 10px;
}

.imageButton {
  background: #D9D9D9;
  color: #FFF;
  margin: 0;
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  line-height: 80%;
  position: absolute;
  font-size: 0.62em;
  margin-left: -0.825em;
  cursor: pointer;
  z-index: 1000;
}

.imageButton:hover {
  background: #E4E4E4;
}

.imageButton:active {
  background: #CECECE;
  color: #EFEFEF;
}

.image {
}

.imageLoader{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: white;
}
